:root {
    --background: rgb(199, 83, 47);
    --header-background: rgb(81, 83, 89);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(207, 207, 207);

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

h1 {
    width: 100%;
    text-align: center;
    font-family: cursive;
    font-size: 4vw;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    display: block;
}

.hide {
    display: none;
}

#eight-ball {
    width: 500px;
    height: auto;
    align-items: center;
    margin-top: 40px;
}

p {
    font-family: fantasy;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    display: block;
    border-radius: 10%;
    background-color: rgb(125, 110, 221);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.4s;
    padding: 5px 0px 5px 0px;
}

button:hover {
    background-color: rgb(125, 110, 226);
    color: white;
}

input {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 50%;
    display: block;
}
